@import "util/util";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

$foundation-palette: (
  primary: #D25E5E,
  secondary: #6B54A6,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$tertiary-color: #FFEF00;
$body-font-family: 'Rubik', sans-serif;
$header-font-family: 'Rubik', sans-serif;
