@charset 'utf-8';

@import 'globals-default';
@import 'globals-onthesegrounds';
@import 'settings';

// On These Grounds Settings

$header-font-weight: 700;
$topbar-background: transparent;

@import 'foundation-core';
@import 'omeka';

button.accent.primary,
.button.accent.primary {
    position: relative;

    &:before {
        content: "";
        clip-path: polygon(61% 6%, 90% 20%, 100% 60%, 78% 90%, 24% 90%, 0% 64%, 9% 11%);
        background: $secondary-color;
        display: block;
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        z-index: -1;
    }

    &:after {
        content: "";
        clip-path: polygon(63% 11%, 96% 26%, 94% 79%, 61% 88%, 15% 86%, 2% 62%, 19% 16%);
        background: $primary-color;
        display: block;
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        z-index: -1;
    }

    &:hover:after {
        background-color: darken(saturate($primary-color, 8%), 5%);
    }
}
