@charset 'utf-8';

@import 'globals-default';
@import 'globals-onthesegrounds';
@import 'settings';

// On These Grounds Settings

$header-font-weight: 700;
$topbar-background: transparent;

@import 'foundation-core';
@import 'omeka';

button.accent.primary,
.button.accent.primary {
    position: relative;

    &:before {
        content: "";
        clip-path: polygon(61% 6%, 90% 20%, 100% 60%, 78% 90%, 24% 90%, 0% 64%, 9% 11%);
        background: $secondary-color;
        display: block;
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        z-index: -1;
    }

    &:after {
        content: "";
        clip-path: polygon(63% 11%, 96% 26%, 94% 79%, 61% 88%, 15% 86%, 2% 62%, 19% 16%);
        background: $primary-color;
        display: block;
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        z-index: -1;
    }

    &:hover:after {
        background-color: darken(saturate($primary-color, 8%), 5%);
    }
}

.site-title a {
  position: relative;
  color: $tertiary-color;
}

.site-title a:before {
  content: "";
  position: absolute;
  top: -.75rem;
  left: -.5rem;
  bottom: -1.5rem;
  right: -4.5rem;
  background: $secondary-color;
  clip-path: polygon(0 0, 100% 0, 88% 54%, 66% 87%, 26% 79%, 0 100%);
  z-index: -1;
}

#responsive-menu {
    position: relative;
    font-weight: 900;
}

#responsive-menu:before {
  content: "";
  position: absolute;
  top: -.5rem;
  left: -4.5rem;
  bottom: -1.5rem;
  right: -.5rem;
  background: $primary-color;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 75%, 51% 96%, 27% 75%, 6% 79%);
  z-index: -1;
}

#responsive-menu a {
  color: $tertiary-color;
}